/* Home Page */
.welcome-banner {
    text-align: center;
    color: #FEDA6A;
    margin-top: 20px;
    font-family: Righteous;
}

#home-button {
    background-color: #FEDA6A;
    border: 1px solid #FEDA6A;
    margin: 0 auto;
    margin-top: 20px;
}

#home-button:hover {
    color: #FEDA6A;
    border: 1px solid #FEDA6A;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
}

#home-button:focus {
    box-shadow:0 0 0 0.2rem rgba(211, 211, 211, 0.698);
    border-color: rgba(211, 211, 211, 0.726);
}

.home-button-container {
    display: flex;
    flex-direction: column;
}

.home-logo {
    z-index: 100;
    margin: 0 auto;
}