.welcome-banner {
    text-align: center;
    color: #FEDA6A;
    margin-top: 20px;
    font-family: Righteous;
}

#home-button {
    background-color: #FEDA6A;
    border: 1px solid #FEDA6A;
    margin: 0 auto;
    margin-top: 20px;
}

#home-button:hover {
    color: #FEDA6A;
    border: 1px solid #FEDA6A;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;


}

.home-button-container {
    display: flex;
    flex-direction: column;
}