/* Login Page */


.login-page-container, .register-form-container {
    background-image: url('./background.png');
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    text-align: center;
    opacity: .9;
    vertical-align: middle;
}

.about-form-container {
    background-image: url('./Lauren_v4.png');
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    text-align: center;
    opacity: .9;
    vertical-align: middle;
}
.about-form-container .pre-profile-img {
    width: 10%;
}

.login-form input, .register-form input, .register-form select, .register-form textarea {
    margin: 0 auto;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-input {
    margin-bottom: 20px;
}

.register-form select {
    background-color: white;
}



.login-form {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.login-form button, .register-form button {
    background-color: #FEDA6A;
    border-color: #FEDA6A;
    margin-bottom: 15px;
}


.login-form button:hover, .register-form button:hover {
    background-color: white;
    border-color: #FEDA6A;
    color: #FEDA6A;
}

.login-header, .register-header {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 31px;
    text-align: center;
    color: #FEDA6A;
}

.login-page-container a, .register-form-container a {
    color: #FEDA6A;
    margin-top: 40px;
    font-weight: bold;
}

.login-page-container a:hover, .register-form-container a:hover{
    color: white;
    margin-top: 40px;
    font-weight: bold;
    text-decoration: none;
    /* margin-bottom: 20px; */
}
.register-link {
    margin-bottom: 80px;
}
.home-logo {
    width: 20%;
    height: 20%;
}

/* Register Page */

@media screen and (max-width: 900px) {
    
    .register-form-container {
        background-image: url('./Lauren_v4.png');
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        opacity: .9;

    }

    .login-form input, .register-form input, .register-form select, .register-form textarea {
        margin: 0 auto;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .about-form-container .pre-profile-img {
        width: 25%;
    }

    .login-page-container, .register-form-container {
        background-image: url('./Lauren_v4.png');
        background-size: cover;
        background-repeat: repeat;
        height: 100vh;
        text-align: center;
        opacity: .9;
        vertical-align: middle;
    }
    .home-logo {
        width: 60%;
        height: 60%;
    }
    
}
 